<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <h2>
      Your Most Recent Scan is Done.
    </h2>
    <p>Number of Repos Scanned: <%= @num_repos %></p>
    <p>Number of Issues Found: <%= @num_issues %></p>
  </body>
</html>
