.un-logged-in {
	text-align: center;
}

.project-description {
	width: 75%;
	margin: auto;
}

.project-description p {
	font-size: 1.2em;
}

.un-logged-in p {
	line-height: 1.7em;
	padding: 20px;
}

.home-container {
	margin-bottom: 20px;
}

.home-container h2 {
	display: inline;
}

.logo{
	padding: 10px !important;
}

.navbar-brand {
	font-size: 24px;
}